<main class="main-container">
  <h2>Main Board</h2>

  <div cdkDropListGroup class="kanban-container">
    <div class="card-container">
      <h2>To do</h2>
      <div cdkDropList id="todo" [cdkDropListData]="todo" class="card-list" (cdkDropListDropped)="drop($event)">
        <div class="card-box" *ngFor="let item of todo" cdkDrag>{{item.description}}</div>
      </div>
      <div class="add-task">
        <button mat-button (click)="openAdddTaskModal()">
          <mat-icon class="toolbar-icon" aria-label="Side nav toggle icon">add_task</mat-icon>
          Add a task
        </button>

      </div>
    </div>

    <div class="card-container">
      <h2>In progress</h2>
      <div cdkDropList id="inprogress" [cdkDropListData]="inProgress" class="card-list"
        (cdkDropListDropped)="drop($event)">
        <div class="card-box" *ngFor="let item of inProgress" cdkDrag>{{item.description}}</div>
      </div>
    </div>

    <div class="card-container">
      <h2>Done</h2>
      <div cdkDropList id="done" [cdkDropListData]="done" class="card-list" (cdkDropListDropped)="drop($event)">
        <div class="card-box" *ngFor="let item of done" cdkDrag>{{item.description}}</div>
      </div>
    </div>
  </div>


</main>
